:host {
  grid {
    width: 100%;
  }

  mat-dialog-content {
    max-height: calc(80vh - 52px);
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .template-wrapper {
    height: calc(80vh - 352.5px);
  }

  mat-dialog-content app-html-template {
    display: block;
    width: 512px;
    max-height: 512px;
    margin: auto;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: -4px;
  }

  mat-form-field mat-slider {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  mat-tab-group {
    width: 100%;
    height: 100%;
  }

  .color-pallete {
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 64px;
    gap: var(--gap);
    padding: var(--gap);
    overflow: hidden;
    gap: var(--gap);
    padding: var(--gap);

    >* {
      width: 100%;
      height: 64px;
      position: relative;
      margin-right: var(--gap);

      span {
        filter: invert(1);
        font-size: 75%;
        font-weight: bold;
      }

      .remove {
        position: absolute;
        right: -12px;
        top: -12px;
        background: radial-gradient(#fff 0%, #fff 50%, transparent 51%);
      }
    }
  }
}
