:host {
  grid {
    width: 100%;
  }

  mat-dialog-content {
    max-height: calc(80vh - 92px);
    height: 100%;
  }

  mat-dialog-content app-html-template {
    height: calc(100% - 256px);
    min-height: calc(100% - 256px);
  }

  mat-form-field {
    width: 100%;
    margin-bottom: -4px;
  }

  mat-form-field mat-slider {
    width: calc(100% + calc(var(--gap) * 2));
    position: absolute;
    left: calc(var(--gap) * -1);
    top: calc(var(--gap) - 1px);
    z-index: 1;
  }

  mat-tab-group {
      width:100%;
      height:100%;
  }


  .color-pallete {
    --gap: var(--gap-200);
    width: 100%;
    height: 64px;
    padding: var(--gap);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    >* {
      width: 64px;
      height: 64px;
      padding: var(--gap);
      position: relative;
      margin-right: var(--gap);

      .remove {
        position: absolute;
        right: -12px;
        top: -12px;
        background: radial-gradient(#fff 0%,#fff 50%, transparent 51%);
      }
    }
  }
}


