<mat-dialog-content class="mat-typography">

    <grid [cols]="3" [colTemplate]="'1fr'">
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Template Name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="data.currentTemplate.name">
        </mat-form-field>
      </cell>
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Label</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="data.currentTemplate.label.content">
        </mat-form-field>
      </cell>
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Label Position</mat-label>
          <mat-select [(ngModel)]="data.currentTemplate.label.position">
            <mat-option value="left">
              Left
            </mat-option>
            <mat-option value="top">
              Top
            </mat-option>
            <mat-option value="right">
              Right
            </mat-option>
            <mat-option value="bottom">
              Bottom
            </mat-option>
          </mat-select>
        </mat-form-field>
      </cell>
    </grid>


    <grid [cols]="3" [colTemplate]="'1fr'">
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Icon Size</mat-label>
          <input matInput readonly [(ngModel)]="data.currentTemplate.icon.size">
          <mat-slider class="p-0" [max]="200" [min]="5" [(ngModel)]="data.currentTemplate.icon.size">
          </mat-slider>
        </mat-form-field>
      </cell>
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Icon Color</mat-label>
          <mat-select [(ngModel)]="data.currentTemplate.icon.color">
            <mat-option value="blue">
              Blue
            </mat-option>
          </mat-select>
        </mat-form-field>
      </cell>
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Icon Alignment</mat-label>
          <mat-select [(ngModel)]="data.currentTemplate.icon.alignment">
            <mat-option value="left">
              Left
            </mat-option>
            <mat-option value="center">
              Center
            </mat-option>
            <mat-option value="right">
              Right
            </mat-option>
          </mat-select>
        </mat-form-field>
      </cell>
    </grid>

    <grid [cols]="3" [colTemplate]="'1fr'">
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Label Size</mat-label>
          <input matInput readonly [(ngModel)]="data.currentTemplate.label.size"
            [disabled]="data.currentTemplate.label.content.length == 0">
          <mat-slider class="p-0" [max]="200" [min]="5" [(ngModel)]="data.currentTemplate.label.size"
            [disabled]="data.currentTemplate.label.content.length == 0">
          </mat-slider>
        </mat-form-field>
      </cell>
      <cell>
        <mat-form-field floatLabel="always">
          <mat-label>Label Color</mat-label>
          <mat-select [(ngModel)]="data.currentTemplate.label.color" [disabled]="data.currentTemplate.label.content.length == 0">
            <mat-option value="blue">
              Blue
            </mat-option>
          </mat-select>
        </mat-form-field>
      </cell>
      <cell>
        <ng-container>
          <mat-form-field floatLabel="always">
            <mat-label>Label Alignment</mat-label>
            <mat-select [(ngModel)]="data.currentTemplate.label.alignment"
              [disabled]="data.currentTemplate.label.position == 'left' || data.currentTemplate.label.position == 'right' || data.currentTemplate.label.content.length == 0">
              <mat-option value="left">
                Left
              </mat-option>
              <mat-option value="center">
                Center
              </mat-option>
              <mat-option value="right">
                Right
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </cell>
    </grid>

    <app-html-template [template]="data.currentTemplate"></app-html-template>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary"  [mat-dialog-close]="data" cdkFocusInitial>Save</button>
  </mat-dialog-actions>