<div class="wrapper" [ngClass]="template.label.position"
  [style]="'--icon-font-size:' + template.icon.size + 'pt;' + '--label-font-size:' +  template.label.size + 'pt;'"
  #generatedHtml>

  <ng-template #icon>
    <FONT [attr.size]="template.icon.size" [attr.color]="template.icon.color" [attr.face]="template.icon.font">
      <br *ngIf="template.label.position == 'top'">
      <span [outerHTML]="template.icon.content"></span>
      <br *ngIf="template.label.position == 'bottom'">
    </FONT>
  </ng-template>

  <ng-template #label>
    <FONT *ngIf="template.label.content.length > 0" [attr.size]="template.label.size"
      [attr.color]="template.label.color" [attr.face]="template.label.font">
      {{template.label.position == 'left' ? ' ':'' }}
      <b *ngIf="template.label.weight == 'bold'"><span [outerHTML]="template.label.content"></span> </b>
      <span *ngIf="template.label.weight == 'normal'" [outerHTML]="template.label.content"></span>
      {{template.label.position == 'right' ? ' ':'' }}
    </FONT>
  </ng-template>

  <ng-container *ngIf="template.label.position == 'top' || template.label.position == 'left'">
    <ng-container *ngTemplateOutlet="label"></ng-container>
    <ng-container *ngTemplateOutlet="icon"></ng-container>
  </ng-container>

  <ng-container *ngIf="template.label.position == 'bottom' || template.label.position == 'right'">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <ng-container *ngTemplateOutlet="label"></ng-container>
  </ng-container>
</div>
