:host {

  font>* {
    font-size: var(--label-font-size);
    line-height: var(--label-font-size);
  }

  font[face*="icons"]>* {
    font-size: var(--icon-font-size);
    line-height: var(--icon-font-size);
    transform: none;
  }
}

:host-context(mat-dialog-content) {
  display: block;

  .wrapper {
    padding-top: 25%;
  }

  .wrapper>p {
    transform: translateY(-50%);
  }
}
