:host {


  font[face*="icons"]>* {
    font-size: var(--icon-font-size);
    line-height: var(--icon-font-size);
  }

  font[face*="icons-text"]>* {
    font-size: var(--label-font-size);
    line-height: var(--label-font-size);
  }
}