:host {
  transform: scale(.7);

  .wrapper {
    text-align:center;
  }

  font[face*="icons"] {
    font-size: var(--icon-font-size);
    line-height: 1.25;
  }

  font[face="icons_text"], font[face="Inter"] {
    font-size: var(--label-font-size);
    line-height: 1.25;
  }
}