:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input {
  margin-left: calc(var(--gap) * 2);
  height: 32px;
  line-height: 32px;
  min-width: 250px;
  border: none;
  border-radius: 8px;
  padding: var(--gap);
  font-size: 20px;
  font-weight: 500;

  &:active,
  &:focus {
    outline: none !important;
  }

  &:hover {

    &:active,
    &:focus {
      outline: none !important;
    }
  }
}

.vertical-viewport {
  height: calc(100vh - 409px);
  width: calc(100vw - 16px);
  overflow-y:scroll;

  .icon-font {
    height: 320px;

    .horizontal-viewport {
      height: 256px;
      width: calc(100vw - 16px);
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      .icon {
        width: 256px;
        min-width: 256px;
        height: 256px;
        padding: var(--gap);
        position: relative;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.13);
        margin-right: var(--gap);

        &.selected {
          background-color: rgb(0, 233, 182);
          color: rgba(0, 0, 0, 0.8);
        }

        .character {
          width: 100%;
          height: calc(100% - 28px);
          text-align: center;
          font-size: 128px;
          line-height: 128px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

  }
}
