:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

mat-form-field {
  transform: scale(.75);
  min-width:250px;
} 

.vertical-viewport {
  height: calc(100vh - 409px);
  width: calc(100vw - 16px);
  overflow-y:scroll;

  .icon-font {
    height: 320px;

    .horizontal-viewport {
      height: 256px;
      width: calc(100vw - 16px);
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      .icon {
        width: 256px;
        min-width: 256px;
        height: 256px;
        padding: var(--gap);
        position: relative;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.13);
        margin-right: var(--gap);

        &.selected {
          background-color: rgb(0, 233, 182);
          color: rgba(0, 0, 0, 0.8);
        }

        .character {
          width: 100%;
          height: calc(100% - 28px);
          text-align: center;
          font-size: 128px;
          line-height: 128px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

  }
}
