:host {

  mat-form-field {
    width: 100%;
    margin-bottom: -4px;
  }

  .icon-grid {

    width: 100%;
    height: calc(100% - 80px);
    overflow: scroll;
    position: relative;


    .font-heading {
        position: sticky;
        top: calc(-1 * var(--gap));
        left: calc(-1 * var(--gap));
        max-width: 80vw;
        background:#393939;
        z-index: 10;
    }

    .icon {
      width: 64px;
      height: 64px;
      line-height: 64px;
      font-size: 48px;

    }

  }


  .vertical-viewport {
    height: 100%;
    width: 100%;
    overflow: scroll;

    .icon-font {
      height: 320px;

      .horizontal-viewport {
        height: 256px;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: visible;

        .icon {
          width: 256px;
          min-width: 256px;
          height: 256px;
          padding: var(--gap);
          position: relative;
          overflow: hidden;
          background: rgba(255, 255, 255, 0.13);
          margin-right: var(--gap);

          &.selected {
            background-color: rgb(0, 233, 182);
            color: rgba(0, 0, 0, 0.8);
          }

          .character {
            width: 100%;
            height: calc(100% - 28px);
            text-align: center;
            font-size: 128px;
            line-height: 128px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }

    }
  }

}
