app-icon-finder {

  mat-form-field {
    width: 100%;
    margin-bottom: -4px;
  }

  cdk-virtual-scroll-viewport {
    width: 100%;
    height: calc(80vh - 178px);
  }

  .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: column;

    .font {
      height:96px;
      .font-heading {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 80vw;
        z-index: 10;
        pointer-events: none;

        h4 {
          width: 100%;
          line-height: 32px;
          height: 32px;
          background: hsl(0, 0%, 22%);
        }
      }

      .icon-grid {
        display: grid;
        grid-template-columns: repeat(255, 64px);
        grid-template-rows: 64px;

        .icon {
          width: 64px;
          height: 64px;
          line-height: 64px;
          font-size: 48px;

          &.selected {
            background-color: rgb(0, 233, 182);
            color: rgba(0, 0, 0, 0.8);
          }


        }
      }

    }

  }
}
