  <grid [cols]="3" [colTemplate]="'1fr'">
    <cell>
      <mat-form-field floatLabel="always">
        <mat-label>Search For Icons</mat-label>
        <input matInput [(ngModel)]="searchTerm" #ctrl="ngModel" (keyup)="onSearch()" (keydown)="clearTimeout()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </cell>
  </grid>
  <div class="pl-100 py-100">
    <cdk-virtual-scroll-viewport itemSize="96" [minBufferPx]="browse?1024:9000" [maxBufferPx]="browse?2048:9000">
      <ng-container *cdkVirtualFor="let font of data.iconFonts; let fontIndex = index;">
        <div class="font" *ngIf="font.filteredIcons.length > 0">
          <div class="font-heading">
            <h4>{{font.title | titlecase}}</h4>
          </div>
          <div class="icon-grid">
            <ng-container *ngFor="let icon of font.filteredIcons; let iconIndex = index;">
              <div class="icon" content-alignment="center middle" (click)="selectIcon(fontIndex,iconIndex)" [class.selected]="icon.selected">
                <!--  <h3>{{icon.title | titlecase}}</h3> -->
                <span [ngStyle]="{'font-family': font.name}" [innerHTML]="icon.unicode"></span>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
