:host {
  display: block;
  width: 100%;
  height: 320px;


  .horizontal-viewport {
    height: 256px;
    width: calc(100vw - 16px);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .template {
      width: 256px;
      min-width: 256px;
      height: 256px;
      padding: var(--gap);
      position: relative;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.13);
      margin-right: var(--gap);

      &.selected {
        background-color: rgb(0, 233, 182);
        color: rgba(0, 0, 0, 0.8);
      }


    }
  }


}
