
<mat-toolbar content-alignment="space-between-h middle">
  <span>Button Creator</span>
  <div content-alignment="center middle">
    <button mat-button color="primary" class="mr-100" (click)="export()"
      [disabled]="removeTemplatesMode">Export</button>
    <button mat-button color="primary" class="mr-100" (click)="uploader.click()"
      [disabled]="removeTemplatesMode">Import</button>
    <button *ngIf="!removeTemplatesMode" mat-button color="warn" class="mr-100"
      (click)="removeTemplatesMode = !removeTemplatesMode">Remove</button>
    <button *ngIf="removeTemplatesMode" mat-raised-button color="warn" class="mr-100"
      (click)="removeTemplatesMode = !removeTemplatesMode">Remove</button>
    <button mat-raised-button color="primary" (click)="addTemplate()" [disabled]="removeTemplatesMode">Add</button>
    <input hidden type="file" #uploader (change)="import($event)" accept="application/JSON" />
  </div>
</mat-toolbar>


<grid [cols]="6" [colTemplate]="'1fr'" [rowTemplate]="'256px'">
  <cell *ngFor="let template of storedData.htmlTemplates; let i = index;" class="template">
    <div class="template-heading" content-alignment="space-between midddle">
      <h3>{{template.name}} </h3>
      <div class="template-actions">
        <button mat-icon-button (click)="editTemplate(i)" [disabled]="removeTemplatesMode">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="copyTemplateHtml(htmlTemplateComponent,i)" [disabled]="removeTemplatesMode">
          <mat-icon>copy</mat-icon>
        </button>
      </div>
    </div>
    <app-html-template #htmlTemplateComponent content-alignment="center middle" [template]="template"></app-html-template>
    <mat-icon (click)="removeTemplate(i)" *ngIf="removeTemplatesMode" class="remove" color="warn">cancel</mat-icon>
  </cell>
</grid>
