<grid [colTemplate]="'1fr auto'">
  <cell content-alignment="left middle">
    <h2>Templates</h2>
  </cell>
  <cell content-alignment="center middle">
    <button mat-button color="primary" class="mr-100" (click)="exportJson()">Export</button>
    <button mat-button color="primary" class="mr-100" (click)="uploader.click()">Import</button>
    <button mat-button color="danger" class="mr-100">Remove</button>
    <button mat-button color="danger">Add</button>
    <input hidden type="file" #uploader (change)="uploadFile($event)" />
  </cell>
</grid>

<div class="horizontal-viewport">
  <div *ngFor="let template of htmlTemplates; let i = index;" class="template" (click)="openDialog(i)">
    <h3>{{template.name}}</h3>

    <app-html-template content-alignment="center middle" [template]="template"></app-html-template>

  </div>
</div>
