
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: auto;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("./assets/fonts/Inter.var.woff2?v=3.12") format("woff2");
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: auto;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("./assets/fonts/Inter-italic.var.woff2?v=3.12") format("woff2");
}

@font-face {
  font-family: 'icons_text';
  src: url('./assets/fonts/icons_text_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons_text';
  src: url('./assets/fonts/icons_text_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

